@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

html {
  overflow-x: hidden !important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif !important;
  overflow-x: hidden !important;
  background-color: #fff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-brand {
  color: #979797 !important;
  font-weight: 600;
  transition: color 0.3s;
}
.navbar-brand:hover,
.nav-link:hover {
  color: #fff !important;
}
.nav-item {
  font-weight: 600 !important;
}
h1 {
  font-size: 1.3rem !important;
}
img {
  border-radius: 7px !important;
}
.cbnr img {
  border-radius: 0px !important;
  border-top-left-radius: .30rem !important;
  border-bottom-left-radius: .30rem !important;
}
.cbnr p{
  font-family: "Roboto Slab";
  font-size: 1rem;
  font-style: italic;
}
.cbnr button{
  font-weight: 600;
  font-size: 1rem;
}
.flex-container {
  display: flex !important;
}
.btn {
  background-color: #a72222 !important;
  color: white !important;
  transition: color, border, background-color 0.2s !important;
  border: solid 1px black !important;
}
.alt-btn {
  background-color: #fff !important;
  color: #a72222 !important;
  transition: color, border, background-color 0.2s !important;
  border: solid 1px #a72222 !important;
  padding: 6px 12px;
}
.btn:hover {
  color: #a72222 !important;
  background-color: #fff !important;
  border: solid 1px #a72222 !important;
}
.alt-btn:hover {
  color: #ffffff !important;
  background-color: #a72222 !important;
  border: solid 1px #000 !important;
}
.orderBtn:hover {
  color: #a72222 !important;
  background-color: #fff !important;
  border: solid 2px #a72222 !important;
}
select {
  box-shadow: none !important;
  border-color: black !important;
}
.fa-plus {
  color: green;
  margin: 5px;
}
.fa-minus,
.fa-trash {
  color: red;
  margin: 5px;
}
input {
  margin-top: 10px !important;
  box-shadow: none !important;
}
.dropdown-toggle {
  color: #979797;
  transition: color 0.2s;
}
.dropdown-toggle:hover {
  color: #fff;
}
i:hover {
  cursor: pointer !important;
}
.link {
  text-decoration: none !important;
  transition: color, 0.2s !important;
}

.link:hover {
  text-decoration: underline !important;
}

.bg-img {
  display: grid !important;
  background-size: cover !important;
  background-position: center center !important;
  background-image: url(./imgs/cover-photo.png) !important;
  height: 15rem !important;
  place-items: center !important;
  color: white !important;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #25292d;
  font-size: 1.5rem;
  color: #fff;
  width: 100%;
}
.header:hover {
  cursor: pointer;
}
.show-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 3000px;
  margin-top: 2rem;
  transition: margin-top 0.5s ease, max-height 1.9s ease;
  overflow: hidden;
}
.selected{
  background-color: #fff !important;
  color: #a72222 !important;
}

.hide-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 0;
  margin-top: 0;
  transition: margin-top 0.5s ease, max-height 0.5s ease;
  overflow: hidden;
}
.fa-caret-down {
  transition: transform 0.5s ease;
}

.fa-caret-right {
  transition: transform .5s ease;
}

.rotate-down {
  transform: rotate(90deg);
}
@media only screen and (max-width: 650px) {
  .cbnr{
    padding-bottom: 1rem;
    flex-direction: column;
  }
  .cbnr img{
    border-bottom-left-radius: 0rem !important;
    border-top-right-radius: .30rem !important;
  }
  
  .cbnr img{
    height: 10rem !important;
  }
}
@media only screen and (min-width: 1232px) {
  .cbnr{
    max-width: 1232px;
  }
}
@media only screen and (min-width: 608px) {
  .order {
    width: 35rem;
  }
}
@media only screen and (max-width: 608px) {
  .ch {
    gap: 1rem;
  }
  .smfont {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 480px) {
  .orderBtn {
    margin: 1rem !important;
  }
  #thankyou {
    margin-bottom: 15rem !important;
  }
  
}
@media only screen and (max-width: 922px) {
  .business-hours {
    margin-top: 1rem !important;
  }
  #gtt {
    display: grid !important;
  }
}

::-webkit-scrollbar {
  display: none !important;
}
.cart-link {
  color: #212529;
  text-decoration: none;
}
.cart-link:hover {
  color: #4d555d;
}
.cartitem-amount {
  position: absolute;
  top: 0.4rem;
  right: 0.56rem;
  background-color: #ff0000;
  width: 1rem;
  height: 1rem;
  font-size: 0.7rem;
  color: #fff;
  z-index: 100;
}
.nav-cart {
  top: 0.05rem;
  right: 0.25rem;
}
.order {
  text-align: start;
  padding: 2rem;
  min-width: 25rem !important;
  margin: 2rem;
}
.orderitems {
  display: flex;
  justify-content: space-between;
}
.on {
  font-size: 1.6rem;
}
@media only screen and (max-width: 990px) {
  .nav-cart {
    top: 0.1rem;
    right: -0.2rem;
  }
}
.svg-topping{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 25px !important;
}